@import '../../tools/fun.scss';

.mobile-page-photo {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__bgm {
    position: fixed;
    top: r(5);
    right: r(5);
  }

  &-content {
    width: 100%;

    .baby {
      transform-origin: left top;
      transform: scale(0.15) translateX(-50%);
      margin-left: 50%;
      margin-top: 60%;
    }
  }
}
